<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
    xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity3"></html>>
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>TFG Alba</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/templatemo-style.css}">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
</head>
<body>
    <!--BARRA NAVEGACIÓN-->
    <header th:fragment="header" class="pb-5">
        <nav class="navbar navbar-expand-lg fixed-top" style="background-color: #4472C4">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav ml-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link nav-link" aria-current="page" th:href="@{/}">Noticias</a>
                        </li>
                        <li th:if="${rol == 'USER'}" class="nav-item">
                            <a class="nav-link nav-link" aria-current="page" th:href="@{/favorites}">Noticias Favoritas</a>
                        </li>
                        <li th:if="${rol == 'ADMIN'}" class="nav-item">
                            <a class="nav-link nav-link" aria-current="page" th:href="@{/article/list}">Gestión</a>
                        </li>
                        <li class="nav-item">
                            <a sec:authorize="isAnonymous()" class="nnav-link nav-link" href="/login">Inicio de Sesión</a>
                            <a sec:authorize="isAuthenticated()" class="nnav-link nav-link" href="/logout"><img th:src="'/images/shut-down.png'" alt="cerrar sesión" style="width: 40%;"></a>
                            <!-- <li sec:authorize="isAuthenticated()">Wellcome, <span sec:authentication="name"></span></li> -->
                        </li>
                    </ul>
                </div>
            </div>
        </nav>

        <div class="container-fluid mt-3 categories-bar">
            <div class="row">
                <div class="col">
                    <div class="btn-group" role="group" aria-label="Categorías">
                        <!-- Iterar sobre las categorías padres--> 
                        <div th:each="categoria : ${categoriasPadre}" class="btn-group" role="group">
                            <button id="dropdownMenu${categoria.id}" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" th:text="${categoria.nombre}">
                                <!-- Mostrar el nombre de la categoría padre--> 
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenu${categoria.id}">
                                <!-- Iterar sobre las subcategorías de la categoría padre--> 
                                <div th:each="subcategoria : ${categoria.subcategorias}" class="dropdown-item" href="#" th:text="${subcategoria.nombre}">
                                    <!-- Mostrar el nombre de la subcategoría--> 
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </header>
    <!--CONTENIDO-->

    <!--PIE DE PÁGINA-->
    <footer th:fragment="footer" class="tm-footer container-fluid fixed-footer">
        <div class="row mb-2"></div>
        <div class="row">
            <a class="tm-footer-title">
                FILTRADO DE NOTICIAS
            </a>
        </div>

        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
        
        <script th:src="@{/js/plugins.js}"></script>
        <script th:src="@{/js/functions.js}"></script>
    </footer>
</body>
</html>



<!--
<div class="container-fluid mt-3 categories-bar">
    <div class="row">
        <div class="col">
            <div class="btn-group" role="group" aria-label="Categorías">
                <!-- Botón para la categoría 1 con menú desplegable
                <div class="btn-group" role="group">
                    <button id="dropdownMenu1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoría 1
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                        <!-- Subcategorías de la categoría 1 
                        <a class="dropdown-item" href="#">Subcategoría 1.1</a>
                        <a class="dropdown-item" href="#">Subcategoría 1.2</a>
                        <!-- Agrega más subcategorías según sea necesario
                    </div>
                </div>
                <!-- Botón para la categoría 2 con menú desplegable
                <div class="btn-group" role="group">
                    <button id="dropdownMenu2" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoría 2
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                        <!-- Subcategorías de la categoría 2
                        <a class="dropdown-item" href="#">Subcategoría 2.1</a>
                        <a class="dropdown-item" href="#">Subcategoría 2.2</a>
                        <!-- Agrega más subcategorías según sea necesario
                    </div>
                </div>
                <!-- Botón para la categoría 3 con menú desplegable
                <div class="btn-group" role="group">
                    <button id="dropdownMenu3" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        Categoría 3
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenu3">
                        <!-- Subcategorías de la categoría 3
                        <a class="dropdown-item" href="#">Subcategoría 3.1</a>
                        <a class="dropdown-item" href="#">Subcategoría 3.2</a>
                        <!-- Agrega más subcategorías según sea necesario 
                    </div>
                </div>
                <!-- Agrega más botones de categorías según sea necesario 
            </div>
        </div>
    </div>
</div>-->